<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sunyata.kindmind"
    android:versionCode="10"
    android:versionName="0.6.0_alpha" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- android:uiOptions="splitActionBarWhenNarrow"  -->
    
    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/kindmind_icon"
        android:label="@string/app_name"
        android:theme="@style/KindMindActionBarTheme" >
        <activity
            android:name="com.sunyata.kindmind.MainActivityC"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sunyata.kindmind.DetailsActivityC"
            android:label="@string/app_name">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".MainActivityC" />
        </activity>
        <activity 
            android:name="com.sunyata.kindmind.FileChooserActivityC"
            android:label="@string/app_name">
        </activity>
        <activity 
            android:name="com.sunyata.kindmind.BookmarkChooserActivityC"
            android:label="@string/app_name">
        </activity>
        <service android:name=".NotificationServiceC"></service>
        <receiver android:name=".BootCompletedReceiverC">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="KindMindAppWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/kindmind_appwidget_info"/>
        </receiver>
        <service
            android:name="KindMindRemoteViewsService"
            android:permission="android.permission.BIND_REMOTEVIEWS">
        </service>
        <provider
            android:name="com.sunyata.kindmind.ListContentProviderM"
            android:authorities="com.sunyata.kindmind.contentprovider"
            android:exported="false" >
        </provider>
    </application>
</manifest>
